.emails
  
  %h1 
    %span#green.colorbutton.active{"data-color" => "green"} Green
    %span#white.colorbutton{"data-color" => "white"} White
    %span#black.colorbutton{"data-color" => "black"} Black
    %span#red.colorbutton{"data-color" => "red"} Red 
  
  %table.colortable.white.table.table-bordered.table-striped.table-condensed
    %tr
      %td name
      %td email
      
    -@white.each do |person|
      %tr
        %td #{person["full_name"]}
        %td #{person["email_address"].gsub(/[ABDEHPabdehp]/, "*")}   
          

  %table.colortable.green.activetable.table.table-bordered.table-striped.table-condensed
    %tr
      %td name
      %td email
      
    -@green.each do |person|
      %tr
        %td #{person["full_name"]}
        %td #{person["email_address"].gsub(/[ABDEHPabdehp]/, "*")}    

  %table.colortable.black.table.table-bordered.table-striped.table-condensed
    %tr
      %td name
      %td email
      
    -@black.each do |person|
      %tr
        %td #{person["full_name"]}
        %td #{person["email_address"].gsub(/[ABDEHPabdehp]/, "*")}   
  
  %table.colortable.red.table.table-bordered.table-striped.table-condensed
    %tr
      %td name
      %td email
      
    -@red.each do |person|
      %tr
        %td #{person["full_name"]}
        %td #{person["email_address"].gsub(/[ABDEHPabdehp]/, "*")}  
         
:javascript
  $(document).ready(function() {
    $('.colorbutton').click(function() {
      $('.colorbutton.active').removeClass('active');
      $(this).addClass('active');
      
      var color = $(this).attr('data-color');

      $('.colortable.activetable').removeClass('activetable');      
      $('.colortable.'+color).addClass('activetable');
      
    });
  });