%p
  Thanks for signing up!
%p name: #{@player['name']}
%p email: #{@player['email']}
%p height: #{@player['height']}
%p weight: #{@player['weight']}
%p experience: #{@player['experience']}
%p partner: #{@player['partner']}
  

